.banner{
  background-image: url(../../../images/banner-img/banner-bg.png); /* The image used */
  background-color: #efefef; /* Used if the image is unavailable */
  width: 100%;
  height: 100vh; /*You must set a specified height*/
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-blend-mode: multiply;
}
.title-bn{
    color: rgb(59, 2, 59);
    letter-spacing: 2px;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: #9660be;
    font-size: 100px;
    font-weight: 900;
    letter-spacing: 5px;
}
.title-point{
    color: #1835b3;
}
.title-sub{
    
    color: #1f0433;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 5px;
}