.course-card{
    width: 100%;
    height: 425px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    transition: all 0.6s ease;
}

.course-card:hover{
    box-shadow: rgba(183, 7, 236, 0.199) -10px 10px, rgba(202, 28, 255, 0.075) -20px 20px ;
}

.course-card .content{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-weight: 300;
}

.course-card .content h3{
    padding: 13px;
    width: 100%;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 22px;
    padding-bottom: 5px;
    border-bottom: 3px solid #9660be;
}

.course-card .content p{
    text-align: start;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.course-card .content a{
    list-style-type: none;
    text-decoration: none;
}

.course-duration{
    background-color: #ca4b562f;
    padding: 5px;
    border-radius: 20px 0px 0 20px;
}

.course-card .content button{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    color: #110299;
    width: 100%;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #5a057c1a;
    transition: 0.2s ease-in-out;
}

.course-card .content button:hover{
    background-color: #5a057c;
    cursor: pointer;
    color: antiquewhite;
}


